$colores: (
    fontColor: aliceblue,
    brandColor: #83e3d3,
    inputColor:black,
    gradientContainer:linear-gradient(83deg, rgba(29, 29, 29, 1) 0%, rgba(46, 46, 46, 1) 91%),
    backgroundColor: linear-gradient(to right top, #000000, #37303b, #54647e, #5ca3b7, #83e3d3),
);