@media screen and (min-width:992px) {    


    .lg-navbar a {
        display: block;
    }

    .navbar {
        display: none;
    }

    .iframe-netflix,
    .iframe-disney,
    .iframe-primevideo,
    .iframe-hbomax {
        transform: scale(0.75);
    }

    #formulario {
        transform: scale(0.85);
    }

    #checkboxes {
        text-align: center;
        padding-bottom: 20px;
    }


    input,
    textarea {
        color: #000000;
    }

    #landing{
        height: 100vh;
        width: 100vw;
        .landing-icons{
            width: 50vw;
            margin: 0 auto;
        }
    }

    footer{
               
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .copyright{
            display: flex;
            width: 40vw;
            justify-content: space-evenly;
        }

        & p{
            font-size: 10px;                    
        }
               
    }
    
}
    

    



    

