@import "logolayers";
@import "colores";
@import "animations";
@import "section-container";
@import "icons";
@import "parrafo";


/*General*/
* {
    font-family: 'Josefin Sans', sans-serif;
    color: map-get($colores, fontColor);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: map-get($colores, backgroundColor);
    min-height: 100vh;
}

main{
    width: 100%;    
    
    
}

a {
    text-decoration: none;
    color: map-get($colores, fontColor);

    &:hover {
        color: map-get($colores, brandColor);
    }
}


strong {
    color: map-get($colores, fontColor);
}

h1 {
    color: map-get($colores, brandColor);
    text-align: center;
    margin-top: 40px;
    background: map-get($colores, gradientContainer);
    padding: 20px;
    opacity: 0.7;
    font-size: 22px;
}

h2 {
    @extend h1;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    


}

/*Header*/
header {
    background: map-get($colores, gradientContainer);
    padding-top: 10px;
    margin-bottom: -20px;



    .logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 300px;
        height: 65px;
        position: relative;


        #ojo-izquierdo {
            @include logoLayersPosition(39px, 20px);
            animation: ojo-izquierdo 5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation-delay: 3s;
        }

        #ojo-derecho {
            @include logoLayersPosition(42px, 20px);
            animation: ojo-derecho 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation-delay: 2s;
        }

        #boca {
            @include logoLayersPosition(14px, 11px);
            animation: boca 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation-delay: 1s;
        }

        #cuerpo {
            @include logoLayersPosition(-71px, 25px);
            animation: nube 1s both;
        }

        #separador {
            @include logoLayersPosition(-100px, 75px);
            animation: separador 0.25s ease-in both;
            animation-delay: 4s;
            top: -10px;
        }

        #my {
            @include logoLayersPosition(-107px, 21px);
            animation: texto 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 5s;
        }

        #social {
            @include logoLayersPosition(113px, 86px);
            animation: texto 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 5s;
        }

        #tree {
            @include logoLayersPosition(65px, 85px);
            animation: texto 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 5s;
        }
    }
}




/*Navbar Desktop*/
.nav-link {
    color: map-get($colores, fontColor);


    &:hover {
        color: map-get($colores, brandColor);
    }
}

nav a {
    transition: all 300ms;


    &:hover {
        transform: scale(1.25);
        color: map-get($colores, brandColor);
        transition: all 0.5s;
    }
}

/*Navbar Mobile*/
.lg-navbar a {
    display: none;
}

.navbar {
    --bs-navbar-toggler-border-color: map-get($colores, gradientContainer);


    img {
        transform: scale(1);
        margin-left: 15px;
        margin-bottom: -20px;
        margin-top: -20px;

    }
}




/*Landing*/

#landing {    
    
    background-image: url(../assets/imgs/clouds.jpg) ;
    background-repeat: repeat;
    animation-name: move;
    aspect-ratio: 0.75;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;                                 
    text-shadow: 2px 2px 10px black;
    & p.p1 {
        font-size: 19px;
        
    }
    & p.p2 {
        font-size: 10px;
        text-shadow: 2px 2px 10px black;
    }
    & p.p3{
        font-size: 15px;
        margin-top: 1rem;
        text-shadow: 2px 2px 10px black;
    }
    .landing-icons{
        display: flex;
        justify-content: space-evenly;
        width: 80vw;
        margin: 0 auto;
        img{    
            border-radius: 50px;
            width: 50px;   
            position: relative;
        }
    }
   
}


/*Secciones*/
section.streaming {
    background: map-get($colores, gradientContainer);
    color: map-get($colores, fontColor);
    @include sectionContainer;


    & a img {
        @include icons;


        &:hover {
            opacity: 0.5;
            transform: scale(1.2);
        }
    }

    & p {
        @include parrafo;

    }
}

section.social {
    background: map-get($colores, gradientContainer);
    color: map-get($colores, fontColor);
    @include sectionContainer;

    & a img {
        @include icons;

        &:hover {
            opacity: 0.5;
            transform: scale(1.5);
        }
    }

    & p {
        @include parrafo;
    }
}

section.webdev {
    background: map-get($colores, gradientContainer);
    color: map-get($colores, fontColor);
    @include sectionContainer;
    margin-bottom: 30px;

    & a img {
        @include icons;

        &:hover {
            opacity: 0.5;
            transform: scale(1.5);
        }
    }

    & p {
        @include parrafo;
    }
}

/*Multimedia*/


.carousel-control-prev-icon {
    padding-left: 50px;
}

.carousel-control-next-icon {
    padding-right: 50px;
}

.carousel-item {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 35px;


    .iframe-netflix,
    .iframe-disney,
    .iframe-primevideo,
    .iframe-hbomax {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

/*Formulario*/
#consultas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enviar-reset {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

legend {
    background-color: map-get($colores, inputColor);
    opacity: 0.85;
    padding: 10px;
    text-align: center;
    border-start-start-radius: 25px;
    border-top-right-radius: 25px;
}

#formulario {
    background: map-get($colores, gradientContainer);
    border-radius: 25px;
    opacity: 0.85;
    width: 100%;
    transform: scale(0.95);
    margin: 0 auto;
    margin-top: 25px;

}

#nombre,
#apellido,
#email {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


#sexo-edad {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkboxes {
    text-align: center;
    padding-bottom: 20px;
}


input,
textarea {
    color: map-get($colores, inputColor);
}




/*Ayudanos a mejorar*/
.helpus {
    background: map-get($colores, gradientContainer);
    opacity: 0.85;
    width: 75%;
    
    margin: 0 auto;

    .helpus-border {
        margin: 0 auto;  
        border: map-get($colores, brandColor) double 5px;
        width: 100%;
        text-align: center;
        padding: 25px;
        margin-top: 150px;
        margin-bottom: 100px;

        #helpus-text-fstl {
            font-size: 20px;
            color: map-get($colores, fontColor);
        }

        #helpus-text-scndl {
            font-size: 20px;
            color: map-get($colores, fontColor);
        }

    }

}

.modal-title {
    color: map-get($colores, inputColor);
}

.col-form-label {
    color: map-get($colores, inputColor);
}

.btn {
    margin-inline: auto;
    display: block;
    background-color: map-get($colores, inputColor);
    border: 2px;
    margin-bottom: 250px;

    &:hover {
        background-color: map-get($colores, brandColor);
    }
}


/*Preguntas Frecuentes*/

.faqs {
    background: map-get($colores, gradientContainer);
    width: 75%;
    height: 75%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    opacity: 0.85;
}

.faqs-titulo>p {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: map-get($colores, inputColor);
    color: map-get($colores, fontColor);
    border-start-start-radius: 25px;
    border-top-right-radius: 25px;
}

.faqs-container {
    text-align: center;
    margin: 35px;
    opacity: 0.85;

    b {
        color: map-get($colores, brandColor);
    }

    h6 {
        margin-bottom: 80px;
        color: map-get($colores, fontColor);
        padding: 10px;
        font-size: 12px;
        padding-bottom: 20px;
    }
}

/*Footer*/

footer {
    background: map-get($colores, gradientContainer);
    color: map-get($colores, fontColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    padding: 1vh;
    


    &>a,
    img,
    p {       
        text-align: center;
        padding-left: 20px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@import "query";